<div class="Indent">
<div>
    <h1><a>Главная задача</a></h1>
</div>
<div>
   <h1>Список задач</h1>
    <ul>
        <li>Месяц: 0</li>
        <li>Неделя: 0</li>
        <li>День: 0</li>
    </ul>
</div>
<div>
    <h1>Календарь</h1>
    <ul>
        <li>
            Личный
        </li>
        <li>
            Рабочий
        </li>
    </ul>
</div>
<div>
    <h1>Категории</h1>
    <ul>
        <li>Высокая важность</li>
        <li>Средняя важность</li>
        <li>Низкая важность</li>
    </ul>
</div>
</div>