li{
    text-decoration: underline;
    color: white;
    font-size: 18pt;
    cursor: pointer;
}
li:hover
{
    color: lightgray;
}
div
{
    background-color: steelblue;
}
.Indent
{
    padding: 20px;
}