<div class="connectDiv">
<div class="monthDiv"><h1>Февраль 2021</h1></div>
<br>
<div class="dayContainer">
<div class="dayDiv">
    2
</div>
<div class="dayDiv">
    3
</div>
<div class="dayDiv">
    4
</div>
<div class="dayDiv">
    5
</div>
<div class="dayDiv">
    6
</div>
<div class="dayDiv">
    7
</div>
<div class="dayDiv">
    8
    </div>
<div class="dayDiv">
    9
    </div>
<div class="dayDiv">
    10
</div>
<div class="dayDiv">
    11
</div>
<div class="dayDiv">
    12
</div>
<div class="dayDiv">
    13
</div>
</div>
</div>